@import "mainSheet";

:root {
  --color-accent: #ff3400;
}

/* Container styles */
.container--pagination {
  // position: relative;
  // left: 27vw;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 20px;

  // flex-grow: 1;
}

/* Pagination list styles */
.pagination {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Pagination button styles */
.pagination-button {
  background-color: var(--color-accent);
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: auto;
}

.pagination-button:hover {
  background-color: #0056b3;
}

/* Current page indicator styles */
#current-page {
  background-color: var(--color-accent);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Pagination item styles */
.pagination-item {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ddd;
  }
}

/* Button 1 styles (Previous button) */
.button1 {
  background-color: #ccc;
  color: #333;

  &:hover {
    background-color: #bbb;
  }
}

/* Button 2 styles (Next button) */
.button2 {
  background-color: #ccc;
  color: #333;

  &:hover {
    background-color: #bbb;
  }
}
