/* .navbar {
  background-color: #bc81dc;
  border-radius: 20px;
  text-align: center;
}

.list-container {
  display: none;
}

.navbar:hover {
  .list-container {
    display: flex;
    flex-direction: row;
  }
} */
